// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 993px,
		xl: 1024px,
		hq: 1280px
) !default;
